@import 'prism/themes/prism-twilight.css'


// ========== THEME ==========

//// Copied/modified from bespoke-theme-voltaire

$background = hsl(64, 100%, 61%)
$foreground = #111
$sydcss = #D9542B

$headline = "Britannic Bold"
$serif = didot, times new roman, serif
$sans-serif = gill sans, helvetica, arial, arial, sans-serif
$monospace = consolas, courier new, monospace
$emdash = '\2014'

$gradient-background = radial-gradient(farthest-corner, $background, $sydcss 110%)

*
  margin: 0
  padding: 0

html
  text-size-adjust: auto

.bespoke-parent
  font-size: 1.5em
  background: $gradient-background
  color: $foreground
  font-family: $sans-serif
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  text-align: center
  background-position: 50% 50%

.bespoke-scale-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  z-index: 1
  .bespoke-active
    pointer-events: auto

.bespoke-slide
  // text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75)
  width: 768px
  height: 576px
  // width: 1024px
  // height: 768px
  position: absolute
  top: 50%
  left: 50%
  margin-left: -(@width / 2)
  margin-top: -(@height / 2)
  display: flex
  flex-direction: column
  align-items: center
  z-index: 1

  &.middle
    justify-content: center

.bespoke-parent.title
  // background: conic-gradient

  .bespoke-slide
    justify-content: center

.bespoke-parent.grey-area
  background: #aaa



// .bespoke-active
//   transition-delay: .3s

.bespoke-inactive
  opacity: 0
  pointer-events: none

.bespoke-backdrop
  transition: opacity .5s ease
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  opacity: 0
  &-active
    opacity: 1

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: .3vw
  z-index: 1

.bespoke-progress-bar
  background: $foreground
  position: absolute
  top: 0
  left: 0
  height: 100%
  transition: width .5s ease

.bespoke-bullet-inactive,
.single-bullet.bespoke-bullet-active:not(.bespoke-bullet-current),
.single-bullet.linked-step-active:not(.linked-step-current)
  display: none

strong
  font-weight: 400

h1 strong
  font-weight: 600

h1, h2, h3, p, li
  padding-left: 20px
  padding-right: 20px

h1, h2, h3, p, li, pre
  font-weight: 200

h1
  font-size: 2em
  font-family: $headline
  margin: 0.17em 0

h2
  font-family: $headline
  font-style: normal
  font-weight: normal
  font-size: 1.1em
  margin: 0.1em 0

.bespoke-slide > h2:first-child
  margin-top: 2em

h3
  font-size: 1em
  font-weight: bold
  margin: 0.5em 0

h4
  font-size: 0.8em
  font-style: italic

ul, ol
  padding: 0
  margin: 0
  text-align: left

ul li
  // list-style-image: radial-gradient(farthest-side, green, red 70%, transparent 99%)
  // list-style: none
  margin: .2em .2em .2em 1.75em
  font-style: normal
  padding-left: 0
  // transform: translateX(-6px)

ol li
  margin: .2em .2em .2em 2.2em
  padding-left: 0

a
  color: currentColor
  text-decoration: none
  border-bottom: 1px solid currentColor


// Prism overrides

pre, pre[class*="language-"]
  border: none
  box-shadow: 1px 1px 0.4em $sydcss inset

code
  // font-family: $monospace !important
  font-style: normal
  font-weight: 200 !important
  text-align: left



// ========== EXTRAS ==========

.example
  min-height: 1em
  min-width: 50%
  margin: .5em
  position: relative

  .marker
    position: absolute
    width: 1em
    height: 1.4em
    left: 50%
    margin-left: -.5em
    bottom: -1.2em
    &:before
      content: '⬆︎'
      color: currentColor

// DEMO: Colour calculations

.demo-colour-calcs .example
  height: 1.5em
  margin-bottom: 1.2em
  width: 75%

// DEMO: Transparency

.demo-transparency pre
  font-size: .8em
  padding: .75em

.demo-transparency .linked-step-current + .hide-when-previous-visible
  display: none

.trans-demo
  display: flex
  margin-top: .5em
  width: calc(100% - 2em)

  .example
    height: 7em
    margin: .5em .25em
    min-width: 0
    width: 5em

    svg
      height: 100%
      width: 100%

.trans-list
  flex-grow: 1
  text-align: left
  width: 20%
  &:first-child .wrapper
    float: right

  h4
    padding-left: 20px
    padding-right: 20px

  ul
    margin-top: .5em

// Code steps

.code-steps
  display: flex
  margin-top: .5em
  width: calc(100% - 2em)

.code-steps-code,
.code-steps-info
  width: 50%

.code-steps-code pre
  margin: 0

.linked-step-inactive,
.code-steps-code .linked-step-active:not(.linked-step-current)
  display: none
