@import 'prism/themes/prism-twilight.css'


// ========== THEME ==========

//// Copied/modified from bespoke-theme-voltaire

$background = hsl(64, 100%, 61%)
$foreground = #111
$sydcss = #D9542B
$code-comment = #aaa

$headline = 'Britannic Bold'
$sans-serif = gill sans, helvetica, arial, arial, sans-serif
$monospace = Consolas, Monaco, 'Andale Mono', monospace
$emdash = '\2014'

$gradient-background = radial-gradient(farthest-corner, $background, $sydcss 110%)
$img-shadow = 0 0 30px -3px #000

*
  margin: 0
  padding: 0

html
  text-size-adjust: auto

.bespoke-parent
  font-size: 1.5em
  background: $gradient-background
  color: $foreground
  font-family: $sans-serif
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  text-align: center
  background-position: 50% 50%

.bespoke-scale-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  z-index: 1
  .bespoke-active
    pointer-events: auto

.bespoke-slide
  // text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75)
  width: 768px
  height: 576px
  // width: 1024px
  // height: 768px
  position: absolute
  top: 50%
  left: 50%
  margin-left: -(@width / 2)
  margin-top: -(@height / 2)
  display: flex
  flex-direction: column
  align-items: center
  z-index: 1

  &.middle
    justify-content: center

  &.no-zoom
    zoom: 1 !important

.bespoke-parent.title .bespoke-slide,
.bespoke-parent.middle .bespoke-slide
  justify-content: center

.bespoke-parent.grey-area
  background: #aaa

.bespoke-parent.showcase
  overflow: overlay

.bespoke-inactive
  opacity: 0
  pointer-events: none

.bespoke-backdrop
  display: none
  height: 150vw
  left: 50%
  margin: -75vw 0 0 -75vw
  position: absolute
  top: 50%
  width: 150vw

  &-active
    display: block

.bespoke-backdrop.title.bespoke-backdrop-active
  background: repeating-conic-gradient($background 0 15deg,
                                       transparent 0 30deg)
  transition: none
  animation: spin 40s linear infinite

@keyframes spin
  from
    transform: rotate(0turn)
  to
    transform: rotate(1turn)

.bespoke-bullet-inactive,
.single-bullet.bespoke-bullet-active:not(.bespoke-bullet-current)
  display: none

strong
  font-weight: 400

h1 strong
  font-weight: 600

h1, h2, h3, p, li
  padding-left: 20px
  padding-right: 20px

h1, h2, h3, p, li, pre, table
  font-weight: 200

h1
  font-size: 2em
  font-family: $headline
  margin: 0.17em 0

.title h1
  text-shadow: 2px 2px hsla(30, 90%, 40%, 0.4)

h2
  font-family: $headline
  font-style: normal
  font-weight: normal
  font-size: 1.1em
  margin: 0.1em 0

  + p
    margin-top: .5em

.bespoke-slide > h2:first-child
  margin-top: 1em

h3
  font-size: 1em
  font-weight: bold
  margin: 0.5em 0

h4
  font-size: 0.8em
  font-style: italic

p + h3,
p + h4
  margin-top: 1.5em

p + p,
p + ul,
p + ol
  margin-top: .5em

ul, ol
  padding: 0
  margin: 0
  text-align: left

ul li
  margin: .2em .2em .2em 1.75em
  font-style: normal
  padding-left: 0

ol li
  margin: .2em .2em .2em 2.2em
  padding-left: 0

a
  color: currentColor
  text-decoration: none
  border-bottom: 1px solid currentColor

img, video
  box-shadow: $img-shadow
  max-width: 95%

p, .single-bullet
  max-width: 100%

p > img,
p > video
  max-width: 100%
  margin-top: .5em

p > video
  max-height: 100%

blockquote
  background: rgba(255, 255, 255, 0.5)
  border-radius: .5em
  box-sizing: border-box
  margin-top: .5em
  padding: .75em
  padding-left: calc(.75em + 40px)
  quotes: '“' '”'
  text-align: left
  width: 90%

  &:before
    content: open-quote
    float: left
    font-size: 3em
    margin-left: -40px
    margin-top: -.2em
    opacity: .5

  > p
    padding: 0

  > code
    display: inline-block
    margin: .5em 0 .5em 1em

  cite
    display: block
    font-weight: 200
    margin-top: .5em

    &:before
      content: $emdash
      margin-right: .25em


// Prism overrides

pre, pre[class*="language-"]
  border: none
  box-shadow: 1px 1px 0.4em $sydcss inset

code, code[class*="language-"]
  font-family: $monospace
  font-size: .916666667em
  font-style: normal
  font-weight: 200 !important
  text-align: left
  text-shadow: none

  del
    color: $code-comment
  ins
    display: inline-block
    outline: 1px dashed lime
    // outline-offset: .1em
    text-decoration: none


// ========== EXTRAS ==========

// --- Generic pieces ---

.wtf
  font-size: 2em
  margin-top: 2em

.example
  box-shadow: $img-shadow
  min-height: 1em
  min-width: 50%
  margin: .5em
  position: relative

  svg
    height: 100%
    width: 100%

  .marker
    position: absolute
    width: 1em
    height: 1.4em
    left: 50%
    margin-left: -.5em
    bottom: -1.2em
    &:before
      content: '⬆︎'
      color: currentColor

.demo-holder
  background-color: white
  border-radius: .5em
  margin-top: .5em
  padding: .5em

  .example
    box-shadow: none


// Linked steps (better bullets)

.linked-step
  transition: opacity .5s ease

.linked-step-inactive
  opacity: 0

.linked-step-inactive.single-bullet,
.linked-step-active.single-bullet:not(.linked-step-current)
  display: none

.step-container
  position: relative

pre.linked-step
  position: absolute


// Code steps

.code-steps
  display: flex
  margin-top: .5em
  width: calc(100% - 2em)

.code-steps-code,
.code-steps-info
  position: relative
  width: 50%

.code-steps-code pre
  margin: 0
  position: absolute

.code-comment
  color: $code-comment

// .code-steps-code .linked-step-inactive,
// .code-steps-code .linked-step-active:not(.linked-step-current)
//   display: none


// --- Specific slides / demos ---

// Intro

.intro img
  margin-left: 1em
  box-shadow: none
  vertical-align: middle


// Gradient gallery

.gradient-gallery
  display: flex
  flex-wrap: wrap

  $grad-from = hsl(0, 80%, 50%)
  $grad-mid = hsl(120, 80%, 50%)
  $grad-to = hsl(240, 80%, 50%)

  li
    display: block
    margin-top: 1em
    text-align: center
    width: 40%

  .example
    background-repeat: no-repeat
    display: block
    height: 7em
    margin: 0 0 .5em 0
    width: 100%

  .linear .example
    background-image: linear-gradient(to right, $grad-from, $grad-mid, $grad-to)

  .radial .example
    background-image: radial-gradient($grad-from, $grad-mid, $grad-to)

  .repeating-linear .example
    background-image: repeating-linear-gradient(to right, $grad-from 0, $grad-mid 1em, $grad-to 2em, $grad-from 3em)

  .repeating-radial .example
    background-image: repeating-radial-gradient($grad-from 0, $grad-mid 1em, $grad-to 2em, $grad-from 3em)

.patterns p
  margin-top: .5em


// Animation support

.anim-support
  border-spacing: .5em
  margin-top: .5em

  th
    font-weight: 400
    padding: 0 .25em

    &:first-child
      text-align: left


// Conic gradients

.conic-comparison
  display: flex

  .linked-step-inactive
    display: block
    opacity: 0

  p:before
    font-size: 1.1em
    margin-right: .5em

  .no p:before
    content: '✘'
    color: #600

  .yes p:before
    content: '✔'
    color: #060

  .example
    height: 250px
    width:  250px

    img
      max-width: 100%

  .yes .example
    background-image: conic-gradient(#f06, #000)

.conic-demos .example
  margin-top: 1.5em
  height: 200px
  width: 200px

.conic-demo-1 .example
  background-image: conic-gradient(#eee .1turn, black, #eee 326deg);

.conic-demo-2 .example
  background-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
  border-radius: 50%

.conic-demo-3 .example
  background-image: conic-gradient(yellowgreen 40%, gold 0 70%, #f06 0);
  border-radius: 50%


// DEMO: Background images

// .bespoke-slide[data-bgimage-showcase]
//   overflow: auto

.showcase-container
  // background: #bbb
  // background: rgba(255, 255, 255, .4)
  border-radius: .3em
  box-sizing: border-box
  height: 50%
  text-align: center
  width: 50%

  .bespoke-slide > &
    margin-top: 1em

.showcase-target
  background-repeat: no-repeat
  border: 2px solid #330
  display: block
  height: 200px
  margin: 0 auto
  width: 200px

  .bgimage-showcase-active &
    display: none

$bgimage-timing-fast = 1s
$bgimage-timing-slow = 3s

.bgimage-showcase-container
  // background-color: rgba(255, 255, 255, .4)
  // background-color: rgba(0, 0, 0, .4)
  background-color: #aaa
  border-radius: .5em
  position: absolute
  perspective: 10000px
  perspective-origin: 0 100%
  transition: height $bgimage-timing-fast

.bgimage-showcase-layer
  border: 1px solid #330
  position: absolute
  transition: all $bgimage-timing-fast

.bgimage-showcase-container.bgimage-showcase-timing-slow,
.bgimage-showcase-timing-slow .bgimage-showcase-layer
  transition-duration: $bgimage-timing-slow

.bgimage-showcase-mode-3d .bgimage-showcase-layer,
.bgimage-showcase-mode-3d-expanded .bgimage-showcase-layer
  border-width: 2px

.code-steps-info .showcase-target
  margin-left: calc(1em + 40px)
  margin-top: 40px

.demo-layering .showcase-target
  background-color: skyblue
  background-image:
    url(../images/image-demo-layering.png),
    linear-gradient(to top, olive, green 45%, rgba(255, 255, 255, 0.9) 45%, transparent 100%),
    radial-gradient(circle at 60% 40%, yellow 30%, transparent 35%)

.demo-positioning .showcase-target
  background-image:
    radial-gradient(circle at 100% 0, transparent 20%, #26708E 21%),
    radial-gradient(circle at 0 0, transparent 20%, #26708E 21%)
  background-size: 60% 100%
  background-position: 100% 0, 0 0;
  background-repeat: no-repeat


// DEMO: Colour calculations

.demo-colour-calcs .example
  height: 1.5em
  margin-bottom: 1.2em
  width: 75%

.code-colour-preview
  display: inline-block
  height: .8em
  width: .8em
  margin: 0 .35em 0 -1.35em
  vertical-align: middle


// DEMO: Transparency

.demo-transparency pre
  font-size: .8em
  padding: .75em

.demo-transparency .linked-step-current + .hide-when-previous-visible
  transition: opacity .5s ease
  opacity: 0

.trans-demo
  display: flex
  margin-top: .5em
  width: calc(100% - 2em)

  .example
    background-color: white
    box-shadow: none
    height: 7em
    padding: .5em
    margin: .5em 0 //.25em
    min-width: 0
    width: 5em

.trans-list
  flex-grow: 1
  text-align: left
  width: 20%
  &:first-child .wrapper
    float: right

  h4
    padding-left: 20px
    padding-right: 20px

  ul
    margin-top: .5em


// DEMO: Basic Blending

.quote-premul .linked-step-inactive
.demo-blend-basic .subtitle .linked-step-inactive
.demo-blend-basic .subtitle .linked-step-active:not(.linked-step-current)
  display: none

.demo-blend-basic .subtitle strong
  line-height: 1

.demo-blend-basic .example
  background-color: white
  box-shadow: none
  height: 1em
  min-width: 0
  padding: .5em
  position: absolute
  right: .5em
  top: .5em
  width: 1em

  > span
    background-color: rgba(255, 0, 0, 0.6)
    display: block
    height: 1em
    margin: 0 auto

table.channels
  border-spacing: .5em

  td.linked-step-inactive,
  th.linked-step-inactive
    display: table-cell;
    // visibility: hidden;

  .examples td
    vertical-align: middle

  .colour-def
    font-size: .8em

    code
      margin-top: .75em

  code
    display: block
    text-align: right

  .highlight
    border-radius: .1em
    display: inline-block
    padding: .1em .3em
    visibility: hidden

  .highlight.linked-step-active
    visibility: visible

  .highlight.linked-step-current
    background-color: #000
    color: #fff
    visibility: visible

.channel-name
  font-size: 1.5em
  padding-right: .75em
  text-align: right

.channel-meter
  border: 1px solid black
  height: 2.5em
  position: relative
  width: 1.5em

.channel-fill
  background-color: currentColor
  bottom: 0
  position: absolute
  transition: height 1s
  width: 100%

.channel-red .channel-name,
.channel-red .channel-fill
  color: hsl(0, 100%, 50%)

.channel-green .channel-name,
.channel-green .channel-fill
  color: hsl(120, 80%, 40%)

.channel-blue .channel-name,
.channel-blue .channel-fill
  color: hsl(240, 100%, 50%)

.channel-alpha .channel-name,
.channel-alpha .channel-fill
  color: #666


// DEMO: Gradient Blending

.demo-blend-gradient
  .example
    height: 1em
    margin-bottom: 0
    width: 300px

    &.premul
      background-image: linear-gradient(to right, rgba(255, 0, 0, 0.5), transparent)

    + .example
      margin-top: 0

  table.channels
    border-spacing: 0
    padding: .5em

    h4
      margin: 1.5em 0 .5em

    .marker h4
      color: hsl(240, 100%, 50%)
      font-weight: 400

  canvas
    border: 1px solid #333
    height: 50px
    width: 300px

.demo-blend-gradient.funky .example.premul
  background-image: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(0, 0, 255, 0.2))

.demo-blend-gradient .linked-step-inactive
  display: none


// DEMO: Logo

.demo-logo .showcase-container
  margin-top: 3em

.demo-logo h4
  margin-top: .5em

.demo-logo .redacted
  background-color: red
  background-image: url(../images/redacted.png)




// ========== EXTRA EXTRAS - FOR PEOPLE VIEWING SLIDES AFTER THE PRESENTATION ==========

.bespoke-parent.preamble
  border: .5em dotted

.instructions,
.instructions-preview
  background-color: rgba(0, 0, 0, 0.8)
  border-radius: .25em
  color: $background
  padding: .5em

.instructions-preview
  padding: .1em .25em

.instructions
  bottom: 1em
  font-size: .8em
  left: .5em
  line-height: 1.4
  position: absolute
  text-align: left

  kbd
    background-color: rgba(120, 120, 120, 0.3)
    border: 1px solid currentColor
    border-radius: .2em
    box-shadow: 0 0 .3em currentColor
    display: inline-block
    margin: 0 .2em
    padding: .2em

.preamble ul + p
  margin-top: 1.5em

.go-go-gadget-slides
  font-size: 3em
  line-height: 1
  margin-top: 0
